.image-frame {
    text-align: center;
    margin: 5px 15px;
    height: 78vh;
    width: 78vh;
    border: 1px solid whitesmoke;
    background-color: white;
}

img {
    width: 100%;
    height: 100%;
}

.placeholder-text {
    position: relative;
    top: 45%;
    color: lightslategrey;
}