.action-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rotate-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info {
    margin: 1em 0;
}